body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    background-repeat: no-repeat;
    height: 800px;
    overflow: hidden;
}

.container-1 {
    text-align: center;
    width: 75%;
    margin: 30px auto;
}

.container-1 h2 {
    color: white;
    font-size: 3em;
}

.flex-box-rps {
    display: flex;
    border: 5px solid #5f0a47;
    padding: 40px 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8em;
    border-radius: 1.5em;
    transition: all 0.2s;
}

.flex-box-rps img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.play {
    margin-top: 50px;
    color: white !important;
    font-size: 40px !important;
    border-radius: 20px !important;
    border: none !important;
    padding: 20px 40px !important;
}